
.fondobody{
    background-color: rgb(238, 247, 255);
    font-size: 17px;
}
.mostrarBtn {
    background-color: rgb(77, 134, 156); /* Color de fondo */
    color: white; /* Color del texto */
 
    border: none; /* Sin borde */
    border-radius: 4px; /* Borde redondeado */
    cursor: pointer; /* Cursor al pasar sobre el botón */
    margin-bottom: 5px; /* Espaciado inferior */
    text-decoration: none;
}
.BtnPedir{
    background-color: rgb(77, 134, 156);
    color: white;
    border-radius: 4px;
    padding: 5px;
    text-decoration: none;
}

/* Estilos opcionales para la imagen */
.imagen {
    display: none; /* La imagen está oculta inicialmente */
    max-width: 100%;
    height: auto;
}
.bordesProductos{
    background-color: rgb(205, 232, 229);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 107px;
    border-spacing: 5px 5px;
    border: 5px solid rgba(161, 161, 161, 0.281);
    text-align: center;
}
.tamañoimagen{
    height: 65px;
}
.division{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}
.titulosproductos{
    font-size: 20px;
    font-weight: bold;
}
.infofuente{
    color: rgb(77, 134, 156);
    font-size: 18px;
    font-weight: bolder;
}
.fuenteprecio{
    color: rgb(77, 134, 156);
    font-size: 19px;
    font-weight: bolder;

}
.preciorevista{
    color: rgb(77, 134, 156);
    font-size: 18px;
    font-weight: bolder;
    text-decoration: line-through;
}
